.pokeInput {
    text-align: center;
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bigParent {
    border: solid red;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}


.search {
    width: 260px;
}

#pokeName {
    text-align: center;
}

#pokeNumber {
    text-align: center;
}


#sprite {
    text-align: center;
}

#pokeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125%;
}

#pokeShiny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125%;
}