.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}


.submitAndResults {
    display: block;
    width: 70%;
    height: 40em;
    border: solid;
    border-radius: 10%;
    border-color: darkblue;
    flex-direction: column;
}

.imageResults {
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 40%;
}

.submit {
    text-align: center;
    background-color: lightblue;
}


#result {
    width: 100%;
    margin-right: 20%;
}


.tableH {
    position: fixed;
    max-width: 1%;
    left: 60%;
    bottom: 20%;
    font-size: .8em;
}

table {
    border-collapse: collapse;
    position: relative;
    margin-left: 73%;
    width: 10%;
  }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid lightblue;
}
  
tr:hover {background-color: lightblue;}
